body{
    margin: 0 ;
}

.title{
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
    ul{
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        width: 30%;
        margin: 0 auto;

        li{
            margin-right: 25px;
        }
        li:hover{
            color: rgb(186,45,24);
            cursor: pointer;
        }
        .active{
            color: rgb(186,45,24);
            font-weight: bold;
        }
    }
}

#loadingDiv{
    text-align: center;
    position: absolute;
    margin:  auto;
    left: 0;
    right: 0;
    top: 100px;

    img{
        width: 40px;
    }
    p{
        margin-top: 10px;
    }
}


#container{
    width: 70%;
    margin: 0 auto;
}

.mian{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.productOne{
    width: 24%;
    background-color: rgb(235,235,235);
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 15px 0;
    text-align: center;

    span{
        font-size: 20px;
    }
    p{
        color: rgb(186,45,24);
        margin: 8px;
        
    }
    .titleImg{
        width: 120px;
        height: 120px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    .titleInfo{
        text-align: left;
        box-sizing: border-box;
        padding-left: 12%;
        padding-right: 3%;
        font-size: 14px;
        line-height: 25px;
        i{
            margin-right: 10px;
        }
        .icon1{
            color: rgb(254,192,107);
        }
        .icon2{
            color: rgb(255,217,1);
        }
        .icon3{
            color: rgb(141,199,242);
        }
        .icon4{
            color: rgb(241,138,143);
        }
    } 
}

footer{
    margin-top: 30px;
    width: 100%;
    background-color: #ddd;
    text-align: center;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
}
